@font-face {
    font-family: "Raleway-Light";
    src: url("./raleway/Raleway-Light.ttf") format("opentype");   
}
@font-face {
    font-family: "Raleway";
    src: url("./raleway/Raleway-Regular.ttf") format("opentype");   
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("./raleway/Raleway-Bold.ttf") format("opentype");   
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("./raleway/Raleway-SemiBold.ttf") format("opentype");   
}

html {
	scroll-behavior: smooth;
	font-variant-ligatures: none;
}
.hide-title {
	margin-top: 0%;
    height: 0px;
}
.welcomescreen-picture {
	margin-top: 0 !important;
}
.tutorialicon
{
	width:80%;
	margin: 0 auto;
	height: 75vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.tutorialicon1 {
	background-image: url('../img/tutorialicon1.png');
}
.tutorialicon2 {
	background-image: url('../img/tutorialicon2.png');
}
.tutorialicon3 {
	background-image: url('../img/tutorialicon3.png');
}
.tutorialicon4 {
	background-image: url('../img/tutorialicon4.png');
}
.tutorialicon5 {
	background-image: url('../img/tutorialicon5.png');
}

.bold {
	/* font-family: "Raleway-Bold"; */
	/*line-height: 29.5px;
	vertical-align: bottom;*/
	font-weight: bold;
}

h1 .bold {
	/*line-height: 41px;*/
}

.semibold {
	/* font-family: "Raleway-SemiBold"; */
	font-weight: bolder;
}

body {
	/* font-family: "Raleway"; */
	text-align:center;
	background-color: #6c767b;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	/* font-family: 'Raleway-Light'; */
	/* letter-spacing: .05em !important; */
	font-weight: 300;
	/* font-weight: normal; */
}
/* Your app custom files in this file */
.view-right {
  border-left: 1px solid #b2b2b2;
}
/* iPad Vertical */
@media (min-width: 768px) {
  .panel.panel-left.panel-cover {
    width: 320px;
  }
}
/* iPad Horizontal */
@media (min-width: 1024px) {
  /* Let's hide panel-opener when left panel is visible */
  .view-main .navbar .open-panel {
    display: none;
  }
}
.hidesub {
	height: 0px !important;
	margin: 0 !important;
	padding:0 !important;
}

.hide-tabbar {
	height:0px !important;
}
.swiper-container {
	transition: height .4s ease;
}
.tabs-swipeable-wrap {
	height: auto !important;
}
.tabcontainer{
	display:block;
	position: relative;
}
.logokonterbont {
	/* background-image: url('res/logo_kb.png'); */
	/* margin-right:10%; */
	width:80%;
	margin-bottom: 10%;
}
.logolod {
	/* background-image: url('res/LOD_logo_white-lu.png'); */
	width:70%;
}
@media (min-width: 1024px) {
	.logokonterbont {
		/* background-image: url('res/logo_kb.png'); */
		margin-right:10%;
		margin-top:20%;
		margin-bottom: 0%;
		width:35%;
	}
	.logolod {
		/* background-image: url('res/LOD_logo_white-lu.png'); */
		width:30%;
		margin-top:20%;
	}
}
.popuph1, .popuph2 {
	margin: 5%;
}
.rule {
	display: list-item;
	list-style-type: none;
	margin-left: 2.5em;
	margin-right: 1.5em;
	text-align: left;
	font-weight: 300;
	font-size: 1.2em;
}

.remark {
	text-align: left;
	margin-right: 1.5em;
	margin-left: 3em;
	font-weight: 300;
	font-size: 1.2em;
}
.remark:before {
	margin-left:-1.5em;
	margin-right: 0.5em;
	content: "\00a0\00a0\00a0\00a0";
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('res/exclamation.png');
	font-weight: 300;
	font-size: 1.2em;
}

.check:before {
	margin-left:-1.5em;
	margin-right: 0.5em;
	content: "\00a0\00a0\00a0\00a0";
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('res/question.png');
	font-weight: 300;
	font-size: 1.2em;
}
.cross:before {
	margin-left:-1.5em;
	margin-right: 0.5em;
	content: "\00a0\00a0\00a0\00a0";
	font-weight: 300;
	font-size: 1.2em;
}
.check, .cross {
	margin-left:3.0em;
}

.page-content {
	padding-top: 0px !important;
	background-color: rgb(245,245,245);
	color:rgb(83,74,59);
	/* height: calc(100% - 50px); */
}
.content-block ,.innercontent-block {
	position: relative;
	margin: 0;
	padding: 0;
}
.content-block{
	height:100%;
}
.content-block-popup {
	height: 90%;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.content-block-button, .content-block-button2 {
	position: absolute;
    bottom: 0;
    width: 90%;
    /* text-align: center; */
    /* align-content: center; */
    margin: auto;
    right: 5%;
}

.content-block-button2{
	bottom: 60px;
}

.content-block-inner{
	background-color:rgba(238,244,254,0);
	color:rgb(83,74,59);
	padding: 32px 0;
	margin: 0 !important;
}
.subnavbar {
	top: 0px !important;
	position:relative !important;
	background-color:rgb(169,115,65);
}
.button.tab-link.active {
	background-color: rgb(243, 231, 221);
	color:rgb(130,101,78);
}
.button.tab-link
{
	border-left-style:none !important;
	background-color:rgb(194,135,82);
	height: 75px;
}

.button
{
	font-size:25px;
	line-height:3em;
}

.player-play-icon {
	margin-top:0px;
	font-size:35px;
	color:rgba(109,109,109,0.6);
	padding-left:15px;
	width:50px;
	float:left;
	background-image: url('res/play50.png');
	/* background-size: contain; */
	background-repeat: no-repeat;
	/* background-position: center; */
	/* content:"\23F8"; Pause Icon */
}

.no-player
{
	opacity:0 !important;
	visibility:hidden !important;
	
	transition: opacity 0.5s ease;
}
.audioplayer
{
	opacity:1;
	visibility:visible;
	position: fixed;
	bottom:0px;
	width: 100%;
    height: 50px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#26000000',GradientType=0 );
	
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
	z-index:1;
	transition: opacity 0.5s ease;
}
.inneraudioplayer
{
	width:120px;
	margin: 0 auto;
	position: relative;
	bottom: -50px;
}
.bar {
	background: #007aff;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 10px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}
.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 13px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 25px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 37px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 49px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 61px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 73px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 85px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 97px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 109px; animation-duration: 442ms; }


.swiper-sub .swiper-wrapper {
	height: 1.4em;
}
.swiper-sub .swiper-wrapper div span {
	margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#thesideblock {
	margin-bottom: 75px;
}
#sidescroller {
	/* top: 56px; */
}
#sidescrollerparent {
	overflow:hidden;
	margin-top:75px;
}
#theselectionbar {
	position: relative;
	/* margin-left: -16px; */
    /* margin-right: -16px; */
    /* margin-top: -35px; */
	padding-top: 1px;
	/* placeholder color */
	background: rgb(45,100,188);
	background: -moz-linear-gradient(-45deg, rgba(45,100,188,1) 0%, rgba(0,62,117,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(45,100,188,1) 0%,rgba(0,62,117,1) 100%);
	background: linear-gradient(135deg, rgba(45,100,188,1) 0%,rgba(0,62,117,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d64bc', endColorstr='#003e75',GradientType=1 );
}
#tab1, #tab2 {
	top:1px;
	background-color: rgba(0,0,0,0);
}
#overlay {
	content: '';
	width:100%;
	height:100%;
	position: absolute;
	background: url('res/texture_jeans_stripes1_18-18.png') top left repeat, rgb(127,127,127);
	background-size: 7px;
	opacity: .2;
	z-index: 0;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

#theselectionbar:after {
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #c4c4c4;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.subnavbar {
	height: 77px;
}
.view-right .navbar {
	background: rgb(45,100,188);
	background: -moz-linear-gradient(-45deg, rgba(0,62,117,1) 0%, rgbargba(45,100,188,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(0,62,117,1) 0%,rgba(45,100,188,1) 100%);
	background: linear-gradient(135deg, rgba(0,62,117,1 0%,)rgba(45,100,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e75', endColorstr='#2d64bc',GradientType=1 );
	height: 77px;
}
#theselectionbar .swiper-sub {
	margin-bottom:0px !important;
	margin-top: -15px !important;
	padding-bottom:15px;
}
#theselectionbar #swiper-sub {
	height: 100vh;
}
#theselectionbar .swiper-slide {
  background: rgba(0,0,0,0);
  /* box-sizing: border-box; */
  /* border: 1px solid #ccc; */
  margin-bottom:18px;
  color:#fff;
}
#theselectionbar .swiper-slide span {
  text-align:center;
  display:block;
  /* margin: 20px; */
  font-size:40px;
  /* font-family: 'Raleway-Light'; */
  font-weight: 300;
}
#theselectionbar .swiper-3 .swiper-wrapper .swiper-slide span {
	font-size: 55px;
}
#theselectionbar .swiper-container {
  /* height: 120px; */
  margin-bottom: 10px;
  margin-top: 0px;
}
.left-content-block {
	width:85%;
	display: table-cell;
}
.left-content-block h2 {
	text-align: left;
    padding-left: 30%;
}
.right-content-block {
	width:15%;
	display: table-cell;
	vertical-align: middle;
	/* font-size:48px; */
}
.round-play-button {
	-moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 60px;
    height: 60px
}

.toun-icon {
	background: url('res/toun-icon.svg') no-repeat, #2196f3;
	background-size: 100%;
	background-size: 60%;
    background-position: center;
	/* fill: #fff; */
	/* -webkit-filter: invert(100%);  */
	/* filter: invert(100%); */
	position: relative;
    right: 14px;
    float: right;
}

.floating-container {
	display: table;
	width: 100%;
}
