/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar { 
    display: none; 
}
html {
      scroll-behavior: smooth;
    }
.AppVersion {
	text-align:center;
	position: absolute;
    bottom: 5px;
	color: #ebf5ff;
	width:100%;
}
.statusbar-overlay {
    background: #000000;
}
.theselectionbar {
	padding-top:20px;
	padding-bottom:20px;
	margin-left:-16px;
	margin-right:-16px;
	/*background: rgb(45,100,188);
	background: -moz-linear-gradient(-45deg, rgba(45,100,188,1) 0%, rgba(0,62,117,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(45,100,188,1) 0%,rgba(0,62,117,1) 100%);
	background: linear-gradient(135deg, rgba(45,100,188,1) 0%,rgba(0,62,117,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d64bc', endColorstr='#003e75',GradientType=1 );*/
}

@font-face {
    font-family: "Raleway-Light";
    src: url("./raleway/Raleway-Light.ttf") format("opentype");   
}
@font-face {
    font-family: "Raleway";
    src: url("./raleway/Raleway-Regular.ttf") format("opentype");   
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("./raleway/Raleway-SemiBold.ttf") format("opentype");   
}
a {
	
	font-family: 'Raleway-Light';
}
p, .item-title {
	font-family: 'Raleway';
}
.pbold, .list-group-title {
	font-family: 'Raleway-Bold';
}
.tab-link-highlight {
	display:none;
}

.bigletter
{
	display:inline-block;
	vertical-align:middle;
	width:70px;
	text-align:center;
	font-size:3.125em;
	color:#ebf5ff;
	font-family: 'Raleway-Light';
	position: relative;
	z-index:100;
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
	
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway-Light';
	letter-spacing: .05em !important;
}

hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


#thetabbar {
	margin-left:-16px;
	margin-right:-16px;
	width: inherit;
	background-color: #98927c;
	overflow: hidden;
}
.tab-link {
	background-color: #98927c;
}
.tabbar-label  {
	color: #e2dccc;
	font-family: 'Raleway-Bold';
	font-size: 1em !important;
	text-transform: uppercase;
	letter-spacing: .05em !important;
}
.tab-link.active .tabbar-label {
	color: #bebaae;
}
#thetabbar .active {
	background-color: rgb(242,238,226);
	z-index:1000;
	box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.3);
	
}
#thetabbar .active:after {
	content: '';
    display: block;
    right:-25px;
	top: 0px;
    position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 0 25px;
	border-color: transparent transparent transparent rgba(127,127,127,0.5);
	overflow: hidden;
}
@media only screen and (min-width:768px) {
	#thetabbar .active:after {
		right:-56px;
		border-width: 56px 0 0 56px;
	}
}
.startup {
	text-align:center;
}
.smallletter, .smallletter25, .smallletter29, .smallletter2, .smallletter3
{
	display:inline-block;
	vertical-align:middle;
	width:25px;
	text-align:center;
	font-size:2.25em;
	font-family: 'Raleway-Light';
	padding-bottom: 10px;
	position: relative;
	z-index:100;
}
.smallletter {
	margin-left: 8px;
}
.smallletter25
{
	width:35px;
}
.smallletter2
{
	width:75px;
}
.smallletter29
{
	width:80px;
}
.smallletter3
{
	width:140px;
}
.wierderblock
{
	color: #4f4b3f;
	text-align:center;
	margin-left: -16px;
	margin-right: -16px;
	background: rgb(242,238,226);
	background: -moz-linear-gradient(-45deg, rgba(242,238,226,1) 0%, rgba(243,239,230,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(242,238,226,1) 0%,rgba(243,239,230,1) 100%);
	background: linear-gradient(135deg, rgba(242,238,226,1) 0%,rgba(243,239,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eee2', endColorstr='#f3efe6',GradientType=1 );
}

#regelbox
{
	text-align:center;
	display:none;
	width:75%;
	margin: 0 auto;
	padding:15px;
	background-color: #c6e2ff;
}
.wierder
{
	font-family: 'Raleway-Bold';
}
.content-block
{
	margin:0 !important;
	color: #ebf5ff;
}

.navbar {
	display:none;
}

.page-content
{
	padding-top:0px !important;
	
	/*background: rgb(242,238,226);
	background: -moz-linear-gradient(-45deg, rgba(242,238,226,1) 0%, rgba(243,239,230,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(242,238,226,1) 0%,rgba(243,239,230,1) 100%);
	background: linear-gradient(135deg, rgba(242,238,226,1) 0%,rgba(243,239,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eee2', endColorstr='#f3efe6',GradientType=1 );*/
	
	background: rgb(45,100,188);
	background: -moz-linear-gradient(-45deg, rgba(45,100,188,1) 0%, rgba(0,62,117,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(45,100,188,1) 0%,rgba(0,62,117,1) 100%);
	background: linear-gradient(135deg, rgba(45,100,188,1) 0%,rgba(0,62,117,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d64bc', endColorstr='#003e75',GradientType=1 );
}
.overlay {
	content: '';
	width:100%;
	height:100%;
	position: absolute;
	background: url('res/texture_jeans_stripes1_18-18.png') top left repeat, rgb(127,127,127);
	background-size: 7px;
	opacity: .2;
	z-index: 0;
	top: 0px;
	left: 0px;
	pointer-events: none;
}
#stiches-front {
	width:100%;
	height: 80px;
	position: absolute;
	background: url('res/texture_jeans_stitches_01.png') top left repeat-x;
	background-size: 50px;
}
#stiches-top {
	width:100%;
	position: absolute;
	background: url('res/texture_jeans_stitches_02.png') top left repeat-x;
	height: 80px;
	background-size: 50px;
	left:0px;
	top: 1px;
}

#konterbont {
	background-image: url('res/logo_kb.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size:250px 60px;
	position: relative;
	top: 30px;
	height:100px;
}

#lod {
	background-image: url('res/LOD_logo_white-lu.png');
	background-repeat: no-repeat;
	background-position: center top; 
	background-size:250px 58px;
	height:100px;
	position: relative;
}
.rule {
	display: list-item;
	list-style-type: none;
	margin-left: 2.5em;
	margin-right: 1.5em;
	text-align: left;
}
.check:before {
	margin-left:-1.5em;
	margin-right: 0.5em;
	content:"\2713\0020";
}
.cross:before {
	margin-left:-1.5em;
	margin-right: 0.5em;
	content:"\2717\0020";
}
.check, .cross {
	margin-left:3.0em;
}
.popuph1, .popuph2 {
	color: #000;
	text-align:center;
}
.playaudio {
	height: 35px;
    width: 120px;
    position: relative;
    bottom: 35px;
    /* background-color: rgba(127,127,127,0.5); */
    z-index: 5000;
    margin: 0 auto;
	/* animation: visibility 300ms ease; */
}
.bar {
	background: #57b6ec;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 10px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 13px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 25px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 37px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 49px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 61px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 73px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 85px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 97px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 109px; animation-duration: 442ms; }
